.box-align{
    text-align: center;
    background-color: white;
}
.nav-background {
    background-color: powderblue;
}
.background-blue {
    background-color: powderblue;
    padding: 25px;
}
.box-margin {
    margin-top: 25px;
}
.navbar-brand{
    padding: 5px;
    color: powderblue;
    font-weight: bold;
    font-size: 40px;
    background-color: white;
}
.house-icon {
    width:15%;
    margin-left: 10px;
}
.icon{
    width: 30%;
}
.no-padding{
    margin-top: auto;
    margin-bottom: auto;
    padding: 70px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
    width:100%;
}
.square-padding{
    display: block;
    margin: 0px auto;
}
.avatar{
    width:50%;
}
.footer-bar{
    background-color: powderblue;
    padding-top: 1px;
    padding-bottom: 1px;
}
.footer {
    position:fixed;
    bottom:0;
}
hr{
    width:90%
}
.square-auto{
    margin-top: auto;
    margin-bottom: auto;
    padding: 70px;
}


/* Text-Size Responsive */
html {
    font-size: 1rem;
}
@media (max-width: 990px) {
    html {
          font-size: 15px;
        }
    }
    .my-auto{
        margin-top: auto;
        margin-bottom: auto;
        padding: 80px;
    }
@media (max-width: 430px) {
    html {
          font-size: 14px;
        }
    }