.box-align{
    text-align: center;
    background-color: white;
}
.nav-background {
    background-color: powderblue;
}
.background-blue {
    background-color: powderblue;
    padding: 15px;
}
.box-margin {
    margin-top: 25px;
}
.navbar-brand{
    padding: 5px;
    color: powderblue;
    font-weight: bold;
    font-size: 40px;
    background-color: white;
}
.house-icon {
    width:15%;
    margin-left: 10px;
}
.icon{
    width: 30%;
}
.no-padding{
    padding: 0 !important;
    margin: 0 !important;
    width:100%;
}
.square-padding{
    display: block;
    margin: 0px auto;
}
.avatar{
    width:50%;
}


/* Text-Size Responsive */
html {
    font-size: 1rem;
}
@media (max-width: 990px) {
    html {
          font-size: 12px;
        }
    }    
@media (max-width: 430px) {
    html {
          font-size: 11px;
        }
    }